<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="fcr"
            id="org.laas.vertics.fiacre.Lang"
            name="Lang Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.laas.vertics.fiacre.Lang.validate">
         <activeWhen>
            <reference
                    definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="org.laas.vertics.fiacre.Lang.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="org.laas.vertics.fiacre.Lang.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.laas.vertics.fiacre.Lang.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.laas.vertics.fiacre.Lang" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.laas.vertics.fiacre.Lang.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.laas.vertics.fiacre.Lang" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.laas.vertics.fiacre.Lang"
            name="Fiacre">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
        </page>
        <page
            category="org.laas.vertics.fiacre.Lang"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.laas.vertics.fiacre.Lang.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
        </page>
        <page
            category="org.laas.vertics.fiacre.Lang"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.laas.vertics.fiacre.Lang.templates"
            name="Templates">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
        </page>
        <page
              class="org.laas.vertics.fiacre.ui.preferences.ToolsPreferencePage"
              id="org.laas.vertics.fiacre.ui.fiacretools"
              name="Fiacre Tools">
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.laas.vertics.fiacre.Lang"
            name="Lang">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.laas.vertics.fiacre.ui.keyword_Lang"
            label="Lang"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.laas.vertics.fiacre.Lang.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.laas.vertics.fiacre.Lang.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.laas.vertics.fiacre.Lang.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.laas.vertics.fiacre.Lang.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="org.laas.vertics.fiacre.Lang.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fcr">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fcr">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for org.laas.vertics.fiacre.Lang -->
	<extension
	        id="lang.check.fast"
	        name="Lang Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="lang.check.normal"
	        name="Lang Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="lang.check.expensive"
	        name="Lang Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="fcr"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.laas.vertics.fiacre.Lang"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.laas.vertics.fiacre.Lang.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.laas.vertics.fiacre.Lang"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.laas.vertics.fiacre.Lang.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.laas.vertics.fiacre.Lang.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.laas.vertics.fiacre.Lang -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.laas.vertics.fiacre.ui.lang.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.laas.vertics.fiacre.ui.lang.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.laas.vertics.fiacre.ui.lang.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.laas.vertics.fiacre.Lang.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.laas.vertics.fiacre.Lang"
	        class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.laas.vertics.fiacre.Lang.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.laas.vertics.fiacre.ui.keyword_Lang"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.laas.vertics.fiacre.Lang.compare.contentViewers"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fcr">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.laas.vertics.fiacre.Lang.compare.contentMergeViewers"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fcr" label="Lang Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.laas.vertics.fiacre.Lang.editors.documentProviders"
            class="org.laas.vertics.fiacre.ui.LangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fcr">
    </provider>
  </extension>

<extension
         point="org.eclipse.ui.commands">
      <category
            name="Fiacre Tools"
            id="org.laas.vertics.fiacre.tools.commands.category">
      </category>
      <command
            name="Compile fiacre specification"
            categoryId="org.laas.vertics.fiacre.tools.commands.category"
            id="org.laas.vertics.fiacre.tools.commands.compile">
      </command>
      <command
            categoryId="org.laas.vertics.fiacre.tools.commands.category"
            id="org.laas.vertics.fiacre.tools.commands.calltina"
            name="Compile fiacre specification and call Tina">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.laas.vertics.fiacre.tools.commands.compile"
            class="org.laas.vertics.fiacre.ui.tools.handlers.CompileHandler">
      </handler>
      <handler
            class="org.laas.vertics.fiacre.ui.tools.handlers.CallTinaHandler"
            commandId="org.laas.vertics.fiacre.tools.commands.calltina">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.laas.vertics.fiacre.tools.commands.compile"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.laas.vertics.fiacre.tools.commands.calltina"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Fiacre Tools"
               mnemonic="i"
               id="org.laas.vertics.fiacre.tools.menus.fiacretools">
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.compile"
                  icon="icons/compile.png"
                  id="org.laas.vertics.fiacre.tools.menus.compile"
                  mnemonic="S"
                  tooltip="Compile fiacre specification">
            </command>
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.calltina"
                  icon="icons/calltina.png"
                  id="org.laas.vertics.fiacre.tools.menus.calltina"
                  mnemonic="S"
                  tooltip="Compile fiacre specification and call Tina">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.laas.vertics.fiacre.tools.toolbars.fiacretoolbar">
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.compile"
                  icon="icons/compile.png"
                  tooltip="Compile fiacre specification"
                  id="org.laas.vertics.fiacre.tools.toolbars.compilebutton">
            </command>
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.calltina"
                  icon="icons/calltina.png"
                  id="org.laas.vertics.fiacre.tools.toolbars.calltinabutton"
                  tooltip="Compile fiacre specification and call Tina">
            </command>
         </toolbar>
      </menuContribution>
   </extension>


</plugin>
