<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Fiacre Tools"
            id="org.laas.vertics.fiacre.tools.commands.category">
      </category>
      <command
            name="Compile fiacre specification"
            categoryId="org.laas.vertics.fiacre.tools.commands.category"
            id="org.laas.vertics.fiacre.tools.commands.compile">
      </command>
      <command
            categoryId="org.laas.vertics.fiacre.tools.commands.category"
            id="org.laas.vertics.fiacre.tools.commands.calltina"
            name="Call Tina">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.laas.vertics.fiacre.tools.commands.compile"
            class="org.laas.vertics.fiacre.tools.handlers.CompileHandler">
      </handler>
      <handler
            class="org.laas.vertics.fiacre.tools.handlers.CallTinaHandler"
            commandId="org.laas.vertics.fiacre.tools.commands.calltina">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.laas.vertics.fiacre.tools.commands.compile"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.laas.vertics.fiacre.tools.commands.calltina"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Fiacre Tools"
               mnemonic="i"
               id="org.laas.vertics.fiacre.tools.menus.fiacretools">
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.compile"
                  icon="icons/compile.png"
                  id="org.laas.vertics.fiacre.tools.menus.compile"
                  mnemonic="S"
                  tooltip="Compile Fiacre Specification">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.laas.vertics.fiacre.tools.toolbars.fiacretoolbar">
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.compile"
                  icon="icons/compile.png"
                  tooltip="Compile fiacre specification"
                  id="org.laas.vertics.fiacre.tools.toolbars.compilebutton">
            </command>
            <command
                  commandId="org.laas.vertics.fiacre.tools.commands.calltina"
                  icon="icons/calltina.png"
                  id="org.laas.vertics.fiacre.tools.toolbars.calltinabutton"
                  tooltip="Call Tina">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
